.weather {
	width: 300px;
	border-radius: 6px;
	box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, 30%);
	color: #FFF;
	background-color: rgb(35, 107, 118);
	margin: 20px auto 0 auto;
	padding: 0 20px 20px 20px;
}

.top,
.bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.city {
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1;
	margin: 0;
	letter-spacing: 0
}

.weather-description {
	font-size: 400;
	font-size: 0.875rem;
	line-height: 1;
	margin: 0;
	margin-top: 1px;
}

.weather-icon {
	width: 100px;
}

.temperature {
	font-weight: 600;
	font-size: 4.25rem;
	width: auto;
	letter-spacing: -3px;
	margin: 10px 0
}

.details {
	width: 100%;
	padding-left: 20px;
}

.parameter-row {
	display: flex;
	justify-content: space-between
}

.parameter-label {
	text-align: center;
	font-weight: 400;
	font-size: 0.75rem;
}

.parameter-value {
	text-align: right;
	font-weight: 600;
	font-size: 0.75rem;
}